body{
    width: 1080;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(29, 95, 57, 0.185);
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}

fieldset{
    border: 2.5px solid rgba(0, 0, 0, 0.247);
    background-color: seagreen;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

p{
    text-align: justify;
}

label{
    color: aliceblue;
    font-weight: 500;
}

legend{
    padding: 10px;
    text-align: left;
    background-color: seagreen;
    border: 2.5px solid rgba(0, 0, 0, 0.247);
    font-weight: bold;
    color: aliceblue;
    border-radius: 10px;
}

#button{
    background-color: rgba(0, 0, 0, 0.247);
    padding: 8px;
    width: 70px;
    border-style: none;
    border-radius: 4px;
    color: aliceblue;
}

.text{
    padding: 2px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.582);
    font-family: Arial, sans-serif;
}

nav{
    background-color: seagreen;
    text-align: center; 
}

a{
    display: inline-block;
    text-decoration: none;
    width: 120px;
    padding: 8px;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
}

#maps{
    border: 2px solid seagreen;
    text-align: center;
    display: flex;
    width: auto;
    padding: 6px;
    border-radius: 5px;
}

#maps:hover{
    box-shadow: 5px 5px 10px rgba(14, 77, 47, 0.205);
}

.contatos{
    width: 500px;
    display: inline-block;
    color: seagreen;
    font-weight: bold;
}

a:hover{
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 10px;
}

header{
    text-align: center;
    border: 2px solid seagreen;
    border-radius: 6px;
    background-color: white;
}

footer{
    text-align: center;
    border: 2px solid seagreen;
    color: white;
    border-radius: 6px;
    background-color: seagreen;
}

img{
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid gainsboro;
}

#copy{
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.main{
    padding: 20px;
    color: seagreen;
    background-color: white;
    border: 2px solid seagreen;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}